<strong>Olá, {{ user }}</strong>

<p>
  <strong>ID Matrícula: </strong> {{ id }} <br />
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Student: </strong> {{ user }} <br />
  <strong>Data: </strong> {{ date }} <br />
</p>
<br /><br />
<p>Confirmação do cancelamento de matrícula</p>
<small>OBS: Caso não foi você quem solicitou o cancelamento, veja imediatamente na sua academia.</small>
