<strong>A Academia Gympoint</strong>

<p>
  Ola amigo(a) <strong>{{ student }}</strong>
  <br /><br />
  Seja bem vindo em nossa família, agradecemos a sua preferência.
</p>

<p>
  <strong>ID Matrícula: </strong> {{ id }} <br />
  <strong>Cliente: </strong> {{ student }} <br />
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Preço: </strong> R${{ price }},00 <br /><br />
  <strong>Data Término: </strong> {{ date_end }}
</p>
<br />

<strong>Importante:</strong>
<p>
  Com seu <i>ID de matrícula</i>, depois de você baixar nosso App, fazer seu Chekin
  em seu celular assim que entrar na Academia e também nos comunicar para Pedido de Auxílio.
  <small>Mais informações, com nossos colaboradores.</small>
</p>
<br />
<strong>Nosso muito OBRIGADO</strong>
<br /><br />
<small>Equipe</small> <strong>GYMPOINT</strong>


